.ResultInnerPage {
  padding: 40px 0;background-color: var(--footer-bg);
}

.container {
  max-width: 87%;
  margin: 0 auto;
  padding: 0px;
}
.disclaimer {
  font-size: 11px;
  padding: 10px;
  color: var(--default-color);
  text-align: center;
  line-height: 1.5;
}
.mainHeading {
  font-weight: 400;
  text-align: center;
  color: var(--default-color);
  margin-bottom: 15px;
  line-height: 1.2;
  letter-spacing: 2px;
}

.resultsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 30px;
}

.resultCard {
  background: #FFFAF2;
  border: 1px solid #E5D7C3;
  overflow: hidden;
  box-shadow: 0px 10px 25px 0px #0000000D;

}

.cardHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #E5D7C3;
}

.treatmentName {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--default-color);
  border-right: 1px solid #E5D7C3;
}

.ageInfo {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--default-color);
}

.imagesWrapper {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
}

.imageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.resultImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.viewMoreWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.viewMoreBtn {
  padding: 11px 30px;
  background: transparent;
  color: var(--default-color);
  border: 1px solid var(--default-color);
  font-size: 15px;
  font-family: var(--font-poppins);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.viewMoreBtn:hover {
  background: var(--gradient-bg-hover);
  transform: translateY(-2px);
  color: var(--white-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 8px 20px rgba(222, 151, 54, 0.3);
}
/* Responsive styles */
@media (max-width: 1500.98px) and (min-width: 1301px) {
  .resultPage {padding:2rem 0;}
  .resultsGrid {gap: 25px;}
  .container{width: 92%; max-width: 92%;}
}
/* Responsive styles */
@media (max-width: 1300.98px) and (min-width: 1201px) {
  .resultPage {padding:2rem 0;}
  .resultsGrid {gap: 25px;}
  .container{width: 92%; max-width: 92%;}
}

/* Responsive styles */
@media (max-width: 1200.98px) and (min-width: 1101px) {
  .resultPage {padding:2rem 0;}
  .resultsGrid {gap: 25px;}
  .container{width: 92%; max-width: 92%;}
}

/* Responsive styles */
@media (max-width: 1100.98px) and (min-width: 992px) {
  .resultPage {padding:2rem 0;}
  .resultsGrid {grid-template-columns: repeat(2, 1fr);gap: 25px;}
  .container{width: 92%; max-width: 92%;}
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .resultPage {padding:2rem 0;}
  .resultsGrid {grid-template-columns: repeat(2, 1fr);gap: 20px;}
  .container{width: 92%; max-width: 92%;}
}

@media (max-width: 767.98px) and (min-width: 600px) {
  .resultPage {padding:1.5rem 0;}
  .resultsGrid {grid-template-columns: 1fr;gap: 20px;}
  .container{width: 92%; max-width: 92%;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 599.98px) and (min-width: 320px) {
  .ResultInnerPage {padding:1.5rem 0;}
  .mainHeading {font-size: 26px;margin-bottom: 15px;}
  .container{width: 92%; max-width: 92%;margin: 0 auto;}
  .resultsGrid{grid-template-columns: 1fr;gap: 10px;}
  .treatmentName,
  .ageInfo {font-size: 15px;padding: 5px 10px;}
  .imagesWrapper {gap: 6px;padding: 6px; margin-bottom: 5px;}
  .disclaimer {font-size: 11px;padding: 0px 10px 10px 10px;}
}
