.BestDermatologistFirstSection{padding: 40px 0px;background-color: var(--footer-bg);}
.container {max-width: 1320px;margin: 0 auto;}
.mainHeading{text-transform: uppercase;margin-bottom: 10px;font-size: 35px;}
.BestDermatologistFirstSection p{font-size: 18px;line-height: 1.8;color: var(--default-color);}