.DermatologysixethSection{padding: 40px 0px;background-color: var(--footer-bg)}
.container {max-width: 1320px;margin: 0 auto;}
.mainHeading{text-transform: uppercase;margin-bottom: 10px;font-size: 35px;}
.DermatologysixethSection p{font-size: 18px;line-height: 1.8;color: var(--default-color);}
.BestDermatologistList {
  list-style: none;
  padding: 0;
  margin: 0 0 1.5em 0;
  width: 100%;
}
.BestDermatologistList li {
  margin-bottom: 8px;
  padding-left: 27px;
  width: 48%;display: inline-block;
  break-inside: avoid;
  position: relative;
  font-size: 18px;
  color: var(--default-color);
  line-height: 1.8;
}
.BestDermatologistList li strong{
  font-weight: 600;
}
.BestDermatologistList li::before {
  content: '';
  position: absolute;
  left: 0.5em;
  top: 0.6em;
  width: 0.5em;
  height: 0.5em;
  background: var(--accent-color);
  border-radius: 50%;
  display: inline-block;
}
/* Small devices (Phones in landscape mode) */
@media (max-width: 1400.98px) and (min-width:1101px) {
  .DermatologysixethSection {padding: 2rem 0px;}
  .container {max-width: 92%;}
  .BestDermatologistList {margin: 0 0 10px 0px;}
  .mainHeading{margin-bottom: 6px;font-size: 35px;}
  .DermatologysixethSection p{font-size: 16px}
  .BestDermatologistList li {font-size: 16px;margin-bottom: 0.3em;padding-left:20px;}
  .BestDermatologistList li::before {width: 0.5em;height: 0.5em;top: 0.4em;left: 0.2em;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 1100.98px) and (min-width: 992px) {
  .DermatologysixethSection {padding: 2rem 0px;}
  .container {max-width: 92%;}
  .BestDermatologistList {margin: 0 0 10px 0px;}
  .mainHeading{margin-bottom: 6px;font-size: 35px;}
  .DermatologysixethSection p{font-size: 16px}
  .BestDermatologistList li {font-size: 16px;margin-bottom: 0.3em;padding-left:20px;}
  .BestDermatologistList li::before {width: 0.5em;height: 0.5em;top: 0.4em;left: 0.2em;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 991.98px) and (min-width: 768px) {
  .DermatologysixethSection {padding: 1.5rem 0px;}
  .container {max-width: 92%;}
  .BestDermatologistList {margin: 0 0 8px 0px;}
  .mainHeading{margin-bottom: 5px;font-size: 35px;}
  .DermatologysixethSection p{font-size: 15px}
  .BestDermatologistList li {font-size: 15px;margin-bottom: 0.3em;padding-left:20px;}
  .BestDermatologistList li::before {width: 0.5em;height: 0.5em;top: 0.4em;left: 0.2em;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 767.98px) and (min-width: 600px) {
  .DermatologysixethSection {padding: 1.5rem 0px;}
  .container {max-width: 92%;}
  .BestDermatologistList {margin: 0 0 8px 0px;}
  .mainHeading{margin-bottom: 5px;font-size: 30px;}
  .DermatologysixethSection p{font-size: 15px}
  .BestDermatologistList li {font-size: 15px;margin-bottom: 0.3em;padding-left:20px;width: 48%;}
  .BestDermatologistList li::before {width: 0.5em;height: 0.5em;top: 0.4em;left: 0.2em;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 599.98px) and (min-width: 320px) {
  .DermatologysixethSection {padding: 1.5rem 0px;}
  .container {max-width: 92%;}
  .BestDermatologistList {margin: 0 0 8px 0px;}
  .mainHeading{margin-bottom: 5px;font-size: 26px;}
  .DermatologysixethSection p{font-size: 15px}
  .BestDermatologistList li {font-size: 15px;margin-bottom: 0.3em;padding-left:20px;width: 100%;display:block;}
  .BestDermatologistList li::before {width: 0.5em;height: 0.5em;top: 0.4em;left: 0.2em;}
}
