.contactPage {
  padding: 40px 0;background-color: var(--footer-bg);
}

.wrapper {
  max-width: 86%;
  margin: 0 auto;
  padding: 0px;
}

.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.contactLeft {
  padding: 0;
}

.contactRight {
  padding: 0;
}
@media (max-width:1500.98px) and (min-width: 1301px) {
.wrapper {max-width: 92%;}
}
@media (max-width:1300.98px) and (min-width: 1201px) {
.wrapper {max-width: 92%;}
}

@media (max-width:1200.98px) and (min-width: 1101px) {
.wrapper {max-width: 92%;}
}

@media (max-width:1100.98px) and (min-width: 992px) {
.wrapper {max-width: 92%;}
}

@media (max-width:991.98px) and (min-width: 768px) {
.contactGrid {grid-template-columns: 1fr;}
}

@media (max-width:767.98px) and (min-width: 600px) {
.contactPage {padding: 1.5rem 0 1rem 0px;}
.wrapper{margin: 0 auto;max-width: 92%;width: 92%;}
.contactGrid {grid-template-columns: 1fr;}
}

@media (max-width:600.98px) and (min-width: 320px) {
.contactPage {padding: 1.5rem 0 1rem 0px;}
.contactGrid {grid-template-columns: 1fr;}
.wrapper{margin: 0 auto;max-width: 92%;width: 92%;}
}
