.tocTitleMobile {
  display: none;
  font-weight: 600;
  color: var(--default-color);
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  padding: 12px 0;
  border-bottom: 1px solid #e5d7c3;
  background: #fff;
  position: relative;
}

.tocArrow {
  float: right;
  font-size: 18px;
  margin-left: 8px;
}

.tocListWrapper {
  display: block;
}

.blogBody h1 {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--default-color);
}

.BlogContent {
  width: 100%;
  background: #fbf4ea;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px;
}

.blogLayout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 300px 0 20px 0;
}

.tocColumn {
  width: 232px;
  flex-shrink: 0;
  position: sticky;
  top: 80px;
  align-self: flex-start;
  z-index: 2;
}

.tocBox {
  padding: 0px 0px;
  font-size: 15px;
}

.tocTitle {
  font-weight: 600;
  color: var(--default-color);
  margin-bottom: 18px;
  font-size: 18px;
}

.tocList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tocList li {
  color: var(--default-color);
  margin-bottom: 12px;
  cursor: pointer;
  transition: color 0.2s;
}

.tocList a {
  color: var(--default-color);
  text-decoration: none;
  transition: color 0.2s;
  display: block;
  padding-left: 0;
}

.tocList li.active>a,
.tocList a:hover {
  background: linear-gradient(106.1deg, #DE9736 0%, #ECC851 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.tocList li {
  border-left: 3px solid transparent;
  padding-left: 0;
  line-height: 1.4;
  padding: 4px 0px;
}

.tocList li.active {
  border-left: 3px solid var(--accent-color);
  padding-left: 12px;
}

.contentColumn {
  padding: 0px 15px 0 0px;
  max-width: 820px;
  flex: 1 1 820px;

}

.intro {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.8;
  color: var(--default-color);
}

.contentColumn p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.8;
  color: var(--default-color);
}

.contentColumn h2 {
  font-size: 26px;
  color: var(--default-color);
  margin: 32px 0 12px 0;
  font-weight: 600;
}

.blogBody h2,
.finalThoughts h2,
.contentColumn h2 {
  color: var(--default-color);
  margin: 40px 0 20px 0px;
  font-size: 30px;
  font-weight: 600;
}

.blogBody h3,
.finalThoughts h3,
.contentColumn h3 {
  color: var(--default-color);
  margin: 32px 0 16px 0px;
  font-size: 24px;
  font-weight: 600;
}

.pigmentList {
  margin: 0 0 24px 0;
  padding-left: 25px;
}

.pigmentList li {
  margin-bottom: 5px;
  line-height: 1.8;
  font-size: 18px;
  color: var(--default-color);
}

.pigmentList li b {
  font-weight: 600;
}

.pigmentListdecimal {
  margin: 0 0 24px 0;
  padding-left: 0;
  counter-reset: customDecimal;
}

.pigmentListdecimal li {
  margin-bottom: 10px;
  line-height: 1.8;
  font-size: 18px;
  position: relative;
  list-style: none;
  counter-increment: customDecimal;
  padding-left: 40px;
  /* Space for the circle */
}

.pigmentListdecimal li strong {
  font-weight: 600;
}

.pigmentListdecimal li::before {
  content: counter(customDecimal);
  font-weight: 600;
  color: #fff;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(106.1deg, #DE9736 0%, #ECC851 100%);
  margin-right: 12px;
  font-size: 16px;
}

.contentColumn img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.faqsection {
  padding: 0px;
}

.faqsection h2 {
  font-size: 30px;
  color: var(--default-color);
  margin: 40px 0 20px 0;
  font-weight: 600;
}

.faqsection h3 {
  font-size: 24px;
  color: var(--default-color);
  margin: 32px 0 16px 0;
  font-weight: 600;
}

.faqsection p {
  margin-bottom: 15px;
}

.faqsection ul {
  margin: 0 0 24px 0;
  padding-left: 25px;
}

.faqsection ul li {
  margin-bottom: 5px;
  line-height: 1.8;
  font-size: 18px;
  color: var(--default-color);
}

.faqsection ol {
  margin: 0 0 24px 0;
  padding-left: 25px;
}

.faqsection ol li {
  margin-bottom: 5px;
  line-height: 1.8;
  font-size: 18px;
  color: var(--default-color);
}

.faqsection ol li::before {
  font-weight: bold;
  color: var(--accent-color);
}

.authorSection {
  margin: 20px 0 24px 0;
}

.authorBox {
  background: #FFF0DB;
  border: 2px dashed #DE9736;
  border-radius: 12px;
  padding: 24px 20px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 2px 8px rgba(222, 151, 54, 0.04);
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.authorImage {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #E7D5BC
}

.authorName {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 6px;
  color: var(--default-color);
}

.authorDesc {
  font-size: 18px;
  color: var(--default-color);
  line-height: 1.8;
}

.treatmentSection {
  margin: 0 0 32px 0;
  overflow: hidden;
  min-height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treatmentImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 15px;
  border: 2px solid var(--accent-color);
}

.treatmentBox {
  position: relative;
  z-index: 2;
  padding: 30px;
  overflow: hidden;
  margin: 0px auto;
}

.treatmentTitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--default-color);
  margin-bottom: 10px;
}

.treatmentContent {
  font-size: 16px;
  color: var(--default-color);
  line-height: 1.8;
}

.treatmentLink {
  color: var(--accent-color);
  text-decoration: underline;
  font-weight: 600;
  transition: color 0.2s;
}

.treatmentLink:hover {
  color: var(--accent-color);
}

.shareColumn {
  width: 200px;
  flex-shrink: 0;
  position: sticky;
  top: 90px;
  align-self: flex-start;
  z-index: 2;
}

.shareBox {
  padding: 10px 0px;
  font-size: 18px;
  text-align: left;
  border: 1px solid #E7D5BC;
}

.shareTitle {
  font-weight: 500;
  color: var(--default-color);
  margin-bottom: 18px;
  font-size: 18px;
  padding: 0 0 8px 12px;
  border-bottom: 1px solid #E7D5BC;
}

.shareList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shareList li {
  font-size: 16px;
  padding: 0 0 8px 12px;
  margin-bottom: 10px;
}

.shareList a {
  color: var(--default-color);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  height: 44px;
  width: 44px;
  border: 1px solid #E7D5BC;
  border-radius: 50%;
  font-weight: 500;
  background: #fff;
  transition: color 0.2s;
}

.shareList a:hover {
  color: #d4a05a;
}

.shareList a img {
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
}

.blogBody p,
.contentColumn p,
.finalThoughts p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.8;
  color: var(--default-color);
}

.blogBody ul,
.blogBody ol,
.finalThoughts ul,
.finalThoughts ol {
  margin: 0 0 20px 0;
  padding-left: 24px;
}

.blogBody ul li,
.finalThoughts ul li {
  margin-bottom: 5px;
  line-height: 1.8;
  font-size: 18px;
  color: var(--default-color);
}

.blogBody ol li,
.finalThoughts ol li {
  margin-bottom: 5px;
  line-height: 1.8;
  font-size: 18px;
  color: var(--default-color);
}

.blogBody li::marker,
.finalThoughts li::marker {
  color: var(--accent-color);
}

.blogBody strong,
.finalThoughts strong {
  font-weight: 600;
}

.blogBody a,
.finalThoughts a {
  color: var(--default-color);
  text-decoration: underline;
}

.blogBody table,
.contentColumn table,
.finalThoughts table {
  width: 100% !important;
  border-collapse: collapse;
  margin-bottom: 25px;
  background: var(--footer-bg);
  border: 1px solid #e5d7c3;
}

.blogBody table th,
.blogBody table td,
.contentColumn table th,
.contentColumn table td,
.finalThoughts table th,
.finalThoughts table td {
  border: 1px solid #e5d7c3;
  padding: 12px 15px;
  text-align: left;
  font-size: 16px;
  color: var(--default-color);
}

.blogBody table th,
.contentColumn table th,
.finalThoughts table th {
  background-color: #faf0e3;
  font-weight: 600;
}



/* Prev / Next post navigation */
.postNavigation {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;
}

.navPrev,
.navNext {
  color: var(--accent-color);
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  font-family: var(--font-poppins);
  padding: 10px 16px;
  border: 1px solid var(--accent-color);
  transition: background 0.2s, color 0.2s;
}

.navPrev:hover,
.navNext:hover {
  background: var(--accent-color);
  color: #fff;
}


@media (max-width: 1400.98px) and (min-width: 1301px) {
  .container {
    width: 92%;
    margin: 0 auto;
    max-width: 92%;
  }
}

@media (max-width: 1300.98px) and (min-width: 1101px) {
  .container {
    width: 92%;
    margin: 0 auto;
    max-width: 92%;
  }

  .blogBody p,
  .finalThoughts p,
  .contentColumn p {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .blogBody h1 {
    font-size: 24px;
  }

  .blogBody ul li,
  .finalThoughts ul li {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .blogBody ol li,
  .finalThoughts ol li {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .blogBody h2,
  .contentColumn h2,
  .finalThoughts h2 {
    margin: 32px 0 16px 0px;
    font-size: 26px;
  }

  .blogBody h3,
  .contentColumn h3,
  .finalThoughts h3 {
    margin: 24px 0 12px 0px;
    font-size: 22px;
  }

  .authorSection {
    margin: 15px 0 15px 0;
  }

  .authorImage {
    width: 100px;
    height: 100px;
  }

  .authorInfo {
    align-items: flex-start;
  }

  .authorInfo img {
    width: 120px;
    height: 120px;
  }

  .authorName {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .authorDesc {
    font-size: 16px;
  }
}

/* Start of Ipad Screen */
@media (max-width: 1100.98px) and (min-width: 992px) {
  .tocTitle {
    display: none;
  }

  .tocTitleMobile {
    display: block;
  }

  .tocListWrapper {
    display: none;
    transition: max-height 0.3s;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #e5d7c3;
  }

  .tocListWrapper.open {
    display: block;
  }

  .container {
    width: 92%;
    margin: 0 auto;
    max-width: 92%;
  }

  .blogLayout {
    gap: 10px;
    padding: 120px 0px 20px;
    display: block;
  }

  .tocBox {
    padding-left: 12px;
    padding-right: 12px;
  }

  .tocColumn {
    z-index: 2;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(99, 99, 99, .2);
    align-self: flex-start;
    width: 100%;
    position: sticky;
    top: 74px;
    margin-bottom: 25px;
  }

  .tocTitle {
    margin-bottom: 12px;
  }

  .tocArrow {
    margin-left: 0px;
    font-size: 12px;
    margin-top: 4px;
  }

  .tocTitleMobile {
    border-bottom: 0px;
    font-size: 16px;
    padding: 10px 0;
  }

  .tocList li {
    border-left: 1px solid #0000;
    margin-top: 10px;
    font-size: 16px;
    padding: 2px 0;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .contentColumn {
    flex: unset;
    max-width: 100%;
    padding: 0 0px 0 0;
    width: 100%;
    margin: 0 auto;
  }

  .blogBody p,
  .finalThoughts p,
  .contentColumn p {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .blogBody h1 {
    font-size: 24px;
  }

  .blogBody ul li,
  .finalThoughts ul li {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .blogBody ol li,
  .finalThoughts ol li {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .blogBody h2,
  .contentColumn h2,
  .finalThoughts h2 {
    margin: 28px 0 14px 0px;
    font-size: 24px;
  }

  .blogBody h3,
  .contentColumn h3,
  .finalThoughts h3 {
    margin: 20px 0 10px 0px;
    font-size: 20px;
  }

  .pigmentList {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .pigmentList li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .pigmentList li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .pigmentListdecimal ol {
    margin-top: 1rem;
  }

  .pigmentListdecimal li {
    margin-bottom: 5px;
    padding-left: 30px;
    font-size: 16px;
  }

  .pigmentListdecimal li:before {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    font-size: 16px;
  }

  .faqsection h2 {
    margin: 32px 0 16px;
    font-size: 26px;
  }

  .faqsection h3 {
    margin: 24px 0 12px;
    font-size: 22px;
  }

  .faqsection ul {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .faqsection ul li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .faqsection ol {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .faqsection ol li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .authorSection {
    margin: 15px 0 15px 0;
  }

  .authorImage {
    width: 100px;
    height: 100px;
  }

  .authorInfo {
    align-items: flex-start;
  }

  .authorInfo img {
    width: 120px;
    height: 120px;
  }

  .authorName {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .authorDesc {
    font-size: 16px;
  }

  .treatmentSection {
    min-height: auto;
    margin: 0 0 15px 0px;
  }

  .treatmentImage img {
    width: 100%;
  }

  .treatmentBox {
    padding: 15px 12px;
  }

  .treatmentTitle {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .shareColumn {
    z-index: unset;
    flex-shrink: 0;
    margin: 0 auto;
    align-self: flex-start;
    width: 92%;
    position: relative;
    top: unset;
  }
}

/* Start of Ipad Screen */
@media (max-width: 991.98px) and (min-width: 768px) {

  /* Start of table of content */
  .tocTitle {
    display: none;
  }

  .tocTitleMobile {
    display: block;
  }

  .tocListWrapper {
    display: none;
    transition: max-height 0.3s;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #e5d7c3;
  }

  .tocListWrapper.open {
    display: block;
  }

  .container {
    width: 92%;
    margin: 0 auto;
    max-width: 92%;
  }

  .blogLayout {
    gap: 10px;
    padding: 120px 0px 20px;
    display: block;
  }

  .tocBox {
    padding-left: 12px;
    padding-right: 12px;
  }

  .tocColumn {
    z-index: 2;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(99, 99, 99, .2);
    align-self: flex-start;
    width: 100%;
    position: sticky;
    top: 64px;
    margin-bottom: 25px;
  }

  .tocTitle {
    margin-bottom: 12px;
  }

  .tocArrow {
    margin-left: 0px;
    font-size: 12px;
    margin-top: 4px;
  }

  .tocTitleMobile {
    border-bottom: 0px;
    font-size: 16px;
    padding: 10px 0;
  }

  .tocList li {
    border-left: 1px solid #0000;
    margin-top: 10px;
    font-size: 16px;
    padding: 2px 0;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .contentColumn {
    flex: unset;
    max-width: 100%;
    padding: 0 0px 0 0;
    width: 100%;
    margin: 0 auto;
  }

  .blogBody p,
  .finalThoughts p,
  .contentColumn p {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .blogBody h1 {
    font-size: 24px;
  }

  .blogBody ul li,
  .finalThoughts ul li {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .blogBody ol li,
  .finalThoughts ol li {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .blogBody h2,
  .contentColumn h2,
  .finalThoughts h2 {
    margin: 24px 0 12px 0px;
    font-size: 22px;
  }

  .blogBody h3,
  .contentColumn h3,
  .finalThoughts h3 {
    margin: 18px 0 8px 0px;
    font-size: 18px;
  }

  .pigmentList {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .pigmentList li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .pigmentList li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .pigmentListdecimal ol {
    margin-top: 1rem;
  }

  .pigmentListdecimal li {
    margin-bottom: 5px;
    padding-left: 30px;
    font-size: 16px;
  }

  .pigmentListdecimal li:before {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    font-size: 16px;
  }

  .faqsection h2 {
    margin: 24px 0 12px;
    font-size: 22px;
  }

  .faqsection h3 {
    margin: 18px 0 8px;
    font-size: 18px;
  }

  .faqsection ul {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .faqsection ul li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .faqsection ol {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .faqsection ol li {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .authorSection {
    margin: 15px 0 15px 0;
  }

  .authorImage {
    width: 100px;
    height: 100px;
  }

  .authorInfo {
    align-items: flex-start;
  }

  .authorInfo img {
    width: 120px;
    height: 120px;
  }

  .authorName {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .authorDesc {
    font-size: 16px;
  }

  .treatmentSection {
    min-height: auto;
    margin: 0 0 15px 0px;
  }

  .treatmentImage img {
    width: 100%;
  }

  .treatmentBox {
    padding: 15px 12px;
  }

  .treatmentTitle {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .shareColumn {
    z-index: unset;
    flex-shrink: 0;
    margin: 0 auto;
    align-self: flex-start;
    width: 92%;
    position: relative;
    top: unset;
  }
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 767.98px) and (min-width: 320px) {

  /* Start of table of content */
  .tocTitle {
    display: none;
  }

  .tocTitleMobile {
    display: block;
  }

  .tocListWrapper {
    display: none;
    transition: max-height 0.3s;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #e5d7c3;
  }

  .tocListWrapper.open {
    display: block;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
  }

  .blogLayout {
    gap: 10px;
    padding: 120px 0px 20px;
    display: block;
  }

  .tocBox {
    padding-left: 12px;
    padding-right: 12px;
  }

  .tocColumn {
    z-index: 2;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(99, 99, 99, .2);
    align-self: flex-start;
    width: 100%;
    position: sticky;
    top: 64px;
    margin-bottom: 25px;
  }

  .tocTitle {
    margin-bottom: 12px;
  }

  .tocArrow {
    margin-left: 0px;
    font-size: 12px;
    margin-top: 4px;
  }

  .tocTitleMobile {
    border-bottom: 0px;
    font-size: 16px;
    padding: 10px 0;
  }

  .tocList li {
    border-left: 1px solid #0000;
    margin-top: 10px;
    padding: 2px 0;
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .contentColumn {
    flex: unset;
    max-width: 92%;
    padding: 0 0px 0 0;
    width: 92%;
    margin: 0 auto;
  }

  .blogBody p,
  .finalThoughts p,
  .contentColumn p {
    margin-bottom: 15px;
    font-size: 15px;
  }

  .blogBody h1 {
    font-size: 24px;
  }

  .blogBody ul li,
  .finalThoughts ul li {
    margin-bottom: 8px;
    font-size: 15px;
  }

  .blogBody ol li,
  .finalThoughts ol li {
    margin-bottom: 8px;
    font-size: 15px;
  }

  .blogBody h2,
  .contentColumn h2,
  .finalThoughts h2 {
    margin: 24px 0 12px 0px;
    font-size: 20px;
  }

  .blogBody h3,
  .contentColumn h3,
  .finalThoughts h3 {
    margin: 18px 0 8px 0px;
    font-size: 18px;
  }

  .pigmentList {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .pigmentList li {
    margin-bottom: 3px;
    font-size: 15px;
  }

  .pigmentList li {
    margin-bottom: 3px;
    font-size: 15px;
  }

  .pigmentListdecimal ol {
    margin-top: 1rem;
  }

  .pigmentListdecimal li {
    margin-bottom: 5px;
    padding-left: 30px;
    font-size: 15px;
  }

  .pigmentListdecimal li:before {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    font-size: 15px;
  }

  .faqsection h2 {
    margin: 24px 0 12px;
    font-size: 20px;
  }

  .faqsection h3 {
    margin: 18px 0 8px;
    font-size: 18px;
  }

  .faqsection ul {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .faqsection ul li {
    margin-bottom: 3px;
    font-size: 15px;
  }

  .faqsection ol {
    margin: 0 0 15px 0px;
    padding-left: 20px;
  }

  .faqsection ol li {
    margin-bottom: 3px;
    font-size: 15px;
  }

  .authorSection {
    margin: 15px 0 15px 0;
  }

  .authorBox {
    border: 1px dashed #DE9736;
    padding: 15px 12px;
    display: block;
  }

  .authorInfo {
    display: block;
    text-align: center;
  }

  .authorImage {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  .authorInfo img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  .authorName {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .authorDesc {
    font-size: 15px;
  }

  .treatmentSection {
    min-height: auto;
    margin: 0 0 15px 0px;
  }

  .treatmentImage img {
    width: 100%;
  }

  .treatmentBox {
    padding: 15px 12px;
  }

  .treatmentTitle {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .postNavigation {
    gap: 8px;
    margin: 15px 0;
  }

  .shareColumn {
    z-index: unset;
    flex-shrink: 0;
    margin: 0 auto;
    align-self: flex-start;
    width: 92%;
    position: relative;
    top: unset;
  }
}