.ServiceDetailThirdSection {
  padding: 50px 0;
  background:var(--footer-bg);
}

.container {
  max-width: 1320px;
  width: 92%;
  margin: 0 auto;
}

.mainHeading {
  font-size: 40px; font-weight: 400;
  margin-bottom: 15px;
  color: var(--default-color);
}

.description p {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--default-color);
}

.columns {
  display: grid;
  gap: 50px;
}

.twoColumns {
  grid-template-columns: 1fr 1fr;
}

.oneColumn {
  grid-template-columns: 1fr;
}

.column {
  font-size: 18px;
  line-height: 1.8;
  color: var(--default-color);
}

.column :global(b) {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.column :global(ul) {
  padding-left: 20px;
  margin-top: 15px;
}

.column :global(li) {
  margin-bottom: 15px;
}

.column p{
  font-size: 18px;
  line-height: 1.8;
}
.column ul li, .column ol li {margin-bottom: 12px;font-size: 18px; color: var(--default-color); line-height: 1.8;}
.column ul li::marker, .column ol li::marker{color: var(--accent-color);}

@media (max-width: 1300.98px) and (min-width: 1201px) {
.ServiceDetailThirdSection {padding:2rem 0px;}
.container {max-width: 92%;width: 92%;}
.mainHeading{font-size: 40px;margin-bottom: 10px;}
.column p{font-size: 16px;}
.description p{font-size: 16px;}
.column ul li, .column ol li {margin-bottom: 6px;font-size: 16px; }
}

@media (max-width: 1200.98px) and (min-width: 1101px) {
.ServiceDetailThirdSection {padding:2rem 0px;}
.container {max-width: 92%;width: 92%;}
.mainHeading{font-size: 35px;margin-bottom: 10px;}
.column p{font-size: 16px;}
.description p{font-size: 16px;}
.column ul li, .column ol li {margin-bottom: 6px;font-size: 16px; }
}

@media (max-width: 1100.98px) and (min-width: 768px) {
.ServiceDetailThirdSection {padding:2rem 0px;}
.container {max-width: 92%;width: 92%;}
.mainHeading{font-size: 30px;margin-bottom: 10px;}
.twoColumns{grid-template-columns: 1fr;}
.column p{font-size: 16px;}
.description p{font-size: 16px;}
.column ul li, .column ol li {margin-bottom: 6px;font-size: 16px; }
}

@media (max-width: 991.98px) and (min-width: 768px) {
.ServiceDetailThirdSection {padding:2rem 0px;}
.container {max-width: 92%;width: 92%;}
.mainHeading{font-size: 30px;margin-bottom: 10px;}
.column p{font-size: 16px;}
.twoColumns{grid-template-columns: 1fr;}
.description p{font-size: 16px;}
.column ul li, .column ol li {margin-bottom: 6px;font-size: 16px; }
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 767.98px) and (min-width: 320px) {
.ServiceDetailThirdSection {padding:1.5rem 0px;}
.container {max-width: 92%;width: 92%;}
.mainHeading{font-size: 24px;margin-bottom: 8px;}
.columns{gap: 10px;}
.column p{font-size: 16px;}
.description p{font-size: 16px;}
.column ul li, .column ol li {margin-bottom: 6px;font-size: 16px; }
.twoColumns{grid-template-columns: 1fr;}
}
