.thankpage {
    background: linear-gradient(259.5deg, #9D835A 0%, #836940 37.87%, #634920 100%);
    padding: var(--spacing-xxl) var(--spacing-xxl);
    text-align: center;
}
.wrapper{max-width: 86%; margin: 0 auto;}
.thankpage .row {justify-content: center;}
.thankpage .row .col {
    background: var(--white-color);
    box-shadow: 0px 5px 24px 1px #00000024;
    padding: var(--spacing-xl);
}

.thankpage .col>svg {
    width: 90px;
    height: auto;
    color:var(--accent-color);
}
.mainHeading{font-weight: 600; margin-bottom: 0px;}
.thankpage p {
    margin-bottom: var(--spacing-md);
    font-size: 18px;
    font-weight: 400;
}

.gohome {
  display: inline-block;
  color: var(--default-color);
  font-size: 16px;
  font-weight: 400;
  padding: 7px 20px;
  border: 1px solid var(--default-color);
  background: transparent;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  font-family: var(--font-poppins), sans-serif;
  cursor: pointer;
}

.gohome:hover {
  color: #fff;
  background: var(--gradient-bg);
  border: 1px solid var(--accent-color);
}

/* Medium devices (Tablets) */
@media (max-width: 992px) and (min-width: 320px) {
.thankpage {padding:2rem 20px;}
.wrapper{max-width: 90%;}
.mainHeading{font-size: 30px;}
.thankpage p {font-size: 16px;}
 .thankpage .col>svg { width: 75px;}
}

/* Large devices (Desktops) */
@media (max-width: 767.98px) and (min-width: 600px) {
 .thankpage .col>svg { width: 75px;}
 .thankpage {padding:2rem 20px;}
 .wrapper{max-width: 90%;}
}

@media (max-width: 599.98px) and (min-width: 320px) {
.thankpage {padding:2rem 20px;}
.wrapper{max-width: 90%;}
.thankpage .col>svg { width: 75px;}
.mainHeading{font-size: 30px;}
.thankpage p {font-size: 15px;}
.gohome {font-size: 15px;}
}