.ServiceDetailFirstSection {
	padding: 40px 0px;
	background: var(--footer-bg);
}
.container {max-width: 86%;margin: 0 auto;}

.costBox {
	background: #fff;
	box-shadow: 0 4px 18px 0 #f7c87380;
	padding: 12px 28px;
	margin-bottom: 25px;
	display: inline-block;
	font-size: 18px;
	color: var(--default-color);
	font-style: italic;
	font-weight: 500;
}
.costBox b {
	font-style: italic;
	font-weight: 700;
}

.description {
	font-size: 18px;
	color: var(--default-color);
	line-height: 1.8;
}
.description b {
	font-weight: 600;
}

.ServiceDetailFirstSection ul,.ServiceDetailFirstSection ol {
	margin: 18px 0 18px 24px;
	padding: 0;
}
.ServiceDetailFirstSection ul li, .ServiceDetailFirstSection ol li {
	margin-bottom: 8px;
	font-size: 18px;
	color: var(--default-color);
	line-height: 1.8;
  list-style-type: square;
}
.ServiceDetailFirstSection ul li a, .ServiceDetailFirstSection ol li a {
	color: var(--default-color);
	text-decoration: none;
	transition: color 0.2s;
}
.ServiceDetailFirstSection ul li a:hover {
	color: var(--accent-color);
	text-decoration: none;
}
.ServiceDetailFirstSection ul li::marker, .ServiceDetailFirstSection ol li::marker {
    color: var(--accent-color);
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table {
  width: 100%; margin: auto;
  margin: 20px 0px;
  border-collapse: collapse;
  border: 1px solid #C2B8A8;
  background: #FFFAF2;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table th{
  padding: 16px 20px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--default-color);
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #D5C7B3;
  border-right: 1px solid #D5C7B3;
}

.table th:last-child {
  border-right: none;
}

.table tr {
  border-bottom: 1px solid #D5C7B3; vertical-align: top;
}

.table tr :last-child {
  border-bottom: none;
}

.table tr td {
  padding: 16px 20px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--default-color);
  border-right: 1px solid #D5C7B3;
}

.table tr td:last-child {
  border-right: none;
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 1500.98px) and (min-width: 1300px) {
.ServiceDetailFirstSection {padding: 2rem 0px;}
.container {max-width: 92%;}
.mainHeading{font-size: 45px;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 1300.98px) and (min-width: 1200px) {
.ServiceDetailFirstSection {padding: 2rem 0px;}
.container {max-width: 92%;}
.mainHeading{font-size: 45px;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 1200.98px) and (min-width: 1100px) {
.ServiceDetailFirstSection {padding: 2rem 0px;}
.container {max-width: 92%;}
.mainHeading{font-size: 45px;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 1100.98px) and (min-width: 992px) {
.ServiceDetailFirstSection {padding: 2rem 0px;}
.container {max-width: 92%;}
.mainHeading{font-size: 35px;}
.costBox {margin-bottom: 15px;padding: 6px 10px;font-size: 16px;}
.description {font-size: 16px;}
.ServiceDetailFirstSection ul,.ServiceDetailFirstSection ol {margin: 5px 0 5px 20px;}
.ServiceDetailFirstSection ul li, .ServiceDetailFirstSection ol li {margin-bottom: 5px;font-size: 16px;}
.table{margin: 10px 0px;}
.table th{padding: 6px 8px;font-size: 16px;}
.table tr td {padding: 6px 8px;font-size: 16px;}
.table tr {vertical-align: top;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 991.98px) and (min-width: 768px) {
.ServiceDetailFirstSection {padding: 2rem 0px;}
.container {max-width: 92%;}
.mainHeading{font-size: 35px;}
.costBox {margin-bottom: 15px;padding: 6px 10px;font-size: 15px;}
.description {font-size: 15px;}
.ServiceDetailFirstSection ul,.ServiceDetailFirstSection ol {margin: 5px 0 5px 20px;}
.ServiceDetailFirstSection ul li, .ServiceDetailFirstSection ol li {margin-bottom: 5px;font-size: 15px;}
.table{margin: 10px 0px;}
.table th{padding: 6px 8px;font-size: 15px;}
.table tr td {padding: 6px 8px;font-size: 15px;}
.table tr {vertical-align: top;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 767.98px) and (min-width: 600px) {
.ServiceDetailFirstSection {padding: 1.5rem 0px;}
.container {max-width: 92%;}
.mainHeading{font-size: 30px;}
.costBox {margin-bottom: 15px;padding: 6px 10px;font-size: 15px;}
.description {font-size: 15px;}
.ServiceDetailFirstSection ul,.ServiceDetailFirstSection ol {margin: 5px 0 5px 20px;}
.ServiceDetailFirstSection ul li, .ServiceDetailFirstSection ol li {margin-bottom: 5px;font-size: 15px;}
.table{margin: 10px 0px;}
.table th{padding: 6px 8px;font-size: 15px;}
.table tr td {padding: 6px 8px;font-size: 15px;}
.table tr {vertical-align: top;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 599.98px) and (min-width: 320px) {
.ServiceDetailFirstSection {padding: 1.5rem 0px;}
.container {max-width: 92%;}
.mainHeading{font-size: 26px;}
.costBox {margin-bottom: 15px;padding: 6px 10px;font-size: 15px;}
.description {font-size: 15px;}
.ServiceDetailFirstSection ul,.ServiceDetailFirstSection ol {margin: 5px 0 5px 20px;}
.ServiceDetailFirstSection ul li, .ServiceDetailFirstSection ol li {margin-bottom: 5px;font-size: 15px;}
.table th{padding: 6px 8px;font-size: 15px;}
.table tr td {padding: 6px 8px;font-size: 15px;}
.table tr {vertical-align: top;}
}