.videosSection {
  background-color: var(--footer-bg);
  padding: 60px 0; border-top:1px solid #E5D7C3;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px;
}

.mainHeading {
  margin-bottom: 30px;text-align: center;
}

.videosGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.videoCard {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.videoCard:hover {
  transform: translateY(-5px);
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
  /* aspect-ratio: 4/5; */
  border-radius: 0;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 7px;
  left: 0;
  z-index: 1;
  right: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.5) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playButton {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--gradient-bg);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
  color: #ffffff;
  transition: transform 0.2s ease;
}

.playButton:hover {
  background: var(--gradient-bg-hover);
  transform: scale(1.1);
}

.viewbtnrow{display: flex;justify-content: center;align-items: center;margin-top: 20px;}
.viewBtn {
  display: inline-block;
  color: #fff;
  text-transform: none;
  padding: 11px 24px;
  background: var(--gradient-bg);
  text-decoration: none;
  font-size: 15px;text-transform: uppercase;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
}
.viewBtn:hover {
  background: var(--gradient-bg-hover);
  color: #fff
}

/* Responsive Design */
@media (max-width: 1400.98px) and (min-width: 1301px) {
.videosSection {padding: 2rem 0% 2rem 0%;}
.container{max-width: 92%;}
.mainHeading {margin-bottom: 15px;}
.viewBtn {padding: 6px 15px;}
.viewbtnrow {margin-top: 10px;}
}

/* Responsive Design */
@media (max-width: 1300.98px) and (min-width: 1201px) {
.videosSection {padding: 2rem 0% 2rem 0%;}
.container{max-width: 92%;}
.mainHeading {margin-bottom: 15px;}
.viewBtn {padding: 6px 15px;}
.viewbtnrow {margin-top: 10px;}
}

/* Responsive Design */
@media (max-width: 1200.98px) and (min-width: 1100px) {
.videosSection {padding: 2rem 0% 2rem 0%;}
.container{max-width: 92%;}
.mainHeading {margin-bottom: 15px;}
.viewBtn {padding: 6px 15px;}
.viewbtnrow {margin-top: 10px;}
}

@media (max-width: 1100.98px) and (min-width: 992px) {
.videosSection {padding: 2rem 0% 2rem 0%;}
.container{max-width: 92%;}
.mainHeading {margin-bottom: 15px;}
.videosGrid {grid-template-columns: 1fr;overflow-x: auto;display: flex;gap: 10px;scroll-snap-type: x mandatory;}
.videoCard {min-width: 31vw;scroll-snap-align: start;}
.viewBtn {padding: 6px 15px;}
.viewbtnrow {margin-top: 10px;}
}

@media (max-width: 991.98px) and (min-width: 768px) {
.videosSection {padding: 2rem 0% 2rem 0%;}
.container{max-width: 92%;}
.mainHeading {margin-bottom: 15px;}
.videosGrid {grid-template-columns: 1fr;overflow-x: auto;display: flex;gap: 10px;scroll-snap-type: x mandatory;}
.videoCard {min-width: 40vw;scroll-snap-align: start;}
.viewBtn {padding: 6px 15px;}
.viewbtnrow {margin-top: 10px;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 767.98px) and (min-width: 600px) {
.videosSection {padding: 1.5rem 0 1.5rem 15px;}
.mainHeading {margin-bottom: 15px;}
.videosGrid {grid-template-columns: 1fr;overflow-x: auto;display: flex;gap: 10px;scroll-snap-type: x mandatory;}
.videoCard {min-width: 49vw;scroll-snap-align: start;}
.viewBtn {padding: 6px 15px;}
.viewbtnrow {margin-top: 10px;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 599.98px) and (min-width: 320px) {
.videosSection {padding: 1.5rem 0px 1.5rem 15px;}
.mainHeading {margin-bottom: 10px;}
.videosGrid {grid-template-columns: 1fr;overflow-x: auto;display: flex;gap: 10px;scroll-snap-type: x mandatory;}
.videoCard {min-width: 42vw;scroll-snap-align: start;}
.viewBtn {padding: 6px 16px;}
.viewbtnrow {margin-top: 10px;}
}