.SkinClinicGurgaonFivethSection{padding:60px 0;}
.container{max-width:1320px;margin:0 auto;}
.commonbox{display: grid;grid-template-columns:50% 50%;align-items:stretch;width: 100%;
    justify-content: space-between;gap: 40px}
.left{background: rgb(251, 243, 233);;padding:40px 48px;border-radius:2px}
.right{background:#f6eadb;padding:40px 48px;border-radius:2px}
 .heading{font-size:35px;line-height:1.2;margin:0 0 12px;color:var(--default-color);font-weight:400}
.lead{font-size:18px;color:var(--default-color);line-height: 1.8;}

@media (max-width: 1400.98px) and (min-width: 1301px) {
.SkinClinicGurgaonFivethSection{padding:2rem 0;}
.heading {margin: 0 0 10px 0px;}
.container{max-width:92%;margin:0 auto;}
.commonbox{gap:25px}
.left, .right{padding:2rem}
.heading{font-size:35px}
.lead {font-size: 16px;}
}


@media (max-width: 1300.98px) and (min-width: 1201px) {
.SkinClinicGurgaonFivethSection{padding:2rem 0;}
.heading {margin: 0 0 10px 0px;}
.container{max-width:92%;margin:0 auto;}
.commonbox{gap:25px}
.left, .right{padding:2rem}
.heading{font-size:35px}
.lead {font-size: 16px;}
}

@media (max-width: 1200.98px) and (min-width: 1101px) {
.SkinClinicGurgaonFivethSection{padding:2rem 0;}
.heading {margin: 0 0 10px 0px;}
.container{max-width:92%;margin:0 auto;}
.commonbox{gap:25px}
.left, .right{padding:2rem}
.heading{font-size:35px}
.lead {font-size: 16px;}
}

@media (max-width: 1100.98px) and (min-width: 992px) {
.SkinClinicGurgaonFivethSection{padding:2rem 0;}
.heading {margin: 0 0 10px 0px;}
.container{max-width:92%;margin:0 auto;}
.commonbox{grid-template-columns:1fr;gap:25px}
.left, .right{padding:2rem}
.heading{font-size:35px}
.lead {font-size: 16px;}
}

@media (max-width: 991.98px) and (min-width: 768px) {
.SkinClinicGurgaonFivethSection{padding:1.5rem 0;}
.heading {margin: 0 0 10px 0px;}
.container{max-width:92%;margin:0 auto;}
.commonbox{grid-template-columns:1fr;gap:10px}
.left, .right{padding:1rem}
.heading{font-size:26px}
.lead {font-size: 15px;}
}

@media (max-width: 767.98px) and (min-width: 320px) {
.SkinClinicGurgaonFivethSection{padding:1rem 0;}
.heading {margin: 0 0 10px 0px;}
.container{max-width:92%;margin:0 auto;}
.commonbox{grid-template-columns:1fr;gap:10px}
.left, .right{padding:1rem}
.heading{font-size:26px}
.lead {font-size: 15px;}
}
