.TechFivethSection {
  background: linear-gradient(120deg, #a86b2d 0%, #c89b5c 100%);
  padding: 44px 0 56px 0;
  text-align: center;
}
.wrapper {
  max-width: 1320px;
  margin: 0 auto;
}
.mainHeading {
  color: #fff;
  font-weight: 400;
  margin-bottom: 25px;
}

.fivethGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  max-width: 1320px;
  margin: 0 auto;
}

.fivethCard {
  background: #fff;
  box-shadow: 0 2px 12px rgba(90, 80, 67, 0.07);
  padding: 30px;
  text-align: center;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform .3s, box-shadow .3s;
}
.fivethCard:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(90, 80, 67, 0.2);
}

.fivethIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F6EADB;
  border-radius: 50%;
}
.fivethIcon img{  padding: 5px;}
.fivethCardTitle {
  color: var(--default-color);
  font-size: 20px;
  font-weight: 600;
  margin-top: 8px;
}

@media (max-width: 900px) {
  .fivethGrid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 599.98px) and (min-width: 320px) {
  .TechFivethSection {padding:1.5rem 0 1.5rem 0px;}
  .fivethGrid {grid-template-columns: 1fr;gap: 10px;max-width: 100%;}
  .fivethCard {padding: 15px 10px 15px 10px;min-width: 90%;}
  .mainHeading{font-size: 26px;}
  .mainHeading br{display: none;}
  .wrapper {max-width: 92%;}
  .fivethCardTitle {font-size: 15px;margin-top: 0px;}
  .fivethIcon {width: 80px;height: 80px;margin-bottom: 10px;}
  .fivethIcon img {padding: 10px;}
  .mainHeading {margin-bottom: 15px;}
}
