.SkinClinicGurgaonBanner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.SkinClinicGurgaonBanner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.02); 
  z-index: 0;
  display: none;
}

.bannerImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  object-position: top;
}
.bannercontainer {max-width: 92%;margin: 0 5% 0 0%;}
.textSection {display: flex;align-items: flex-start;justify-content: flex-end;flex-direction: column;
  height: 100%;position: relative;z-index: 2;}
.dheading {color: var(--default-color);text-transform: uppercase;font-weight: 400;letter-spacing: 2px;font-size: 45px;font-family: var( --font-montserrat), sans-serif;}

/* Small devices (Phones in landscape mode) */
@media (max-width: 1400.98px) and (min-width:1101px) {
.SkinClinicGurgaonBanner {width: 100%;height: 360px;}
.bannercontainer {max-width: 50%;}
.dheading {letter-spacing: 0px;font-size: 35px;}
}


/* Small devices (Phones in landscape mode) */
@media (max-width: 1100.98px) and (min-width: 992px) {
.SkinClinicGurgaonBanner {width: 100%;height: 280px;}
.bannercontainer {max-width: 50%;}
.dheading {letter-spacing: 0px;font-size: 35px;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 991.98px) and (min-width: 768px) {
.SkinClinicGurgaonBanner {width: 100%;height: 240px;}
.bannercontainer {max-width: 50%;}
.dheading {letter-spacing: 0px;font-size: 35px;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 767.98px) and (min-width: 600px) {
.SkinClinicGurgaonBanner {width: 100%;height: 280px;}
.bannercontainer {max-width: 50%;}
.dheading {letter-spacing: 0px;font-size: 30px;}
}

/* Small devices (Phones in landscape mode) */
@media (max-width: 599.98px) and (min-width: 320px) {
.SkinClinicGurgaonBanner {width: 100%;height: 180px;}
.bannercontainer {max-width: 48%;}
.dheading {letter-spacing: 0px;font-size: 22px;}
.textSection p{font-size: 14px;line-height: 1.5;}
.textSection p br{display: none;}
}